/*  === COLORS === */

/* 
Primer color - GREEN:   #2C6626

    dark green:      #083204
    light green:     #DAF4D8

Secunder color - GRAY:       #3D3F45
Third color - LIGHT GRAY:    #E5E5E5
*/


/*  === GLOBAL === */

    html {
        font-size: 16px;
    }

    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    :focus {
        outline: 3px solid #3D3F45;
    }

    main > section:nth-of-type(even) {
        background-color: #DAF4D8;
    }

    section {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    @media (max-width: 1366px) {
        section {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
    }

    @media (max-width: 1024px) {
        section {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
    }

    @media (max-width: 768px) {
        section {
            padding-top: .5rem;
            padding-bottom: .5rem;
        }
    }


/*  === GENERAL === */

    .clearfix::after {
        content: "";
        clear: both;
        display: block;
    }

    .active {
        background-color: #083204 !important;
    }

    .important-text {
        font-weight: bold;
    }

    .screenreader {
        display: none;
    }

    .btn-primer {
        background-color: #083204;
        border: 2px solid #083204; 
        border-radius: 4px;
        color: #FFF;
        font-size: .9rem;
        padding: .6rem 1.2rem;
        cursor: pointer;
    }

    .btn-primer:hover {
        background-color: #DAF4D8;
        border: 2px solid #DAF4D8;
        color: #083204;
    }

    .btn-secunder {
        background-color: transparent;
        border: 2px solid #FFF;
        border-radius: 4px;
        color: #FFF;
        padding: .6rem 1.2rem;
        display: inline-block;
        cursor: pointer;
    }

    .btn-secunder:hover {
        color: #083204;
        border: 2px solid #083204;
        font-weight: bold;
    }

    .intro-container {
        text-align: center;
        width: 80%;
        margin: 0 auto 2.5rem auto;
    }

    .intro-container h1 {
        font-size: 1.6rem;
        text-transform: uppercase;
    }

    .intro-container p {
        font-size: 1.2rem;
    }

    @media (max-width: 1366px) {
        .intro-container p {
            margin-bottom: .5rem;
        }
    }

    @media (max-width: 1024px) {
        .intro-container p {
            margin-bottom: 0;
        }
    }


/*  === NAVIGATION BAR === */

    #header-nav {
        width: 100%;
        height: 50px;
        background-color: #2C6626;
        font-weight: bold;
        font-size: 1.2rem;
    }

    #header-nav .col-6 {
        padding-top: 0;
        padding-bottom: 0;
    }

    #header-nav a > img{
        height: 35px;
        width: auto;
        float: left;
        margin-top: 7.5px;
    }

    #header-nav ul {
        margin: 0;
        padding: 0;
        float: right;
    }

    #header-nav ul > li {
        display: inline-block;
        height: 100%;
        padding: .8rem .8rem;
    }

    #header-nav ul > li > a {
        color: #FFF;
        text-decoration: none;
    }

    #header-nav ul > li > a:link {
        color: #FFF;
        text-decoration: none;
    }

    #header-nav ul > li > a:visited {
        color: #FFF;
        text-decoration: none;
    }

    #header-nav ul > li > a:hover {
        color: #083204;
    }


/*  === HEADER-BANNER === */

    #header-banner {
        background: url("../img/ECOTECH_header.png") no-repeat;
        width: 100%;
        height: 0;
        padding-top: 25.55%;
        background-size: contain;
    }

    #header-banner-small {
        background: url("../img/ECOTECH_header.png") no-repeat;
        width: 100%;
        height: 0;
        padding-top: 20.43%;
        background-size: contain;
    }

/*  === NEWSLETTER SECTION === */

    #newsletter-section {
        background-color: #2C6626;
        color: #FFF;
        padding-top: 0;
        padding-bottom: 0;
    }

    #newsletter-form {
        width: 100%;
        float: right;
        text-align: right;
        
    }

    #newsletter-text {
        font-size: 1.2rem;
    }

    #newsletter-form-email {
        width: 70%;
        padding: .6rem;
        margin: 1.2rem .2rem 1.2rem 0;
        border: 2px solid #FFF;
        border-radius: 4px;
    }

    @media (max-width: 1247px) {
        #newsletter-form-email {
            width: 60%;
        }
    }

    @media (max-width: 958px) {
        #newsletter-form-email {
            margin: .6rem 0;
            width: 100%;
        }
        #newsletter-form-btn {
            width: 100%;
        }
    }

    @media (max-width: 768px) {
        #newsletter .col-4 {
            display: none;
        }
        #newsletter-form-email {
            margin: 0 .2rem 0 0;
            width: 65%;
            float: left;
        }
        #newsletter-form-btn {
            width: 30%;
        }
    }

    @media (max-width: 480px) {
        #newsletter-form-email {
            margin: .6rem 0;
            width: 100%;
        }
        #newsletter-form-btn {
            width: 100%;
        }
    }

/*  === SERVICES === */

    .services-box {
        background-color: #2C6626;
        color: #FFF;
        text-align: center;
        padding: 1rem 3rem 2.5rem;
        width: 75%;
        margin-bottom: 1.8rem;
    }

    #services-section .row > .col-3:nth-of-type(even) > .services-box {
        margin-left: 1rem;
        margin-right: auto;
    }

    #services-section .row > .col-3:nth-of-type(odd) > .services-box {
        margin-right: 1rem;
        margin-left: auto;
    }

    .services-box h2 {
        font-size: 1.4rem;
    }

    .service-see-more-btn {
        width: 40%;
        margin-top: 1.5rem;
        text-decoration: none;
    }

    @media (max-width: 1366px) {
        .services-box {
            width: 85%;
        }
        .intro-container {
            width: 90%;
        }
    }

    @media (max-width: 1124px) {
        .services-box {
            width: 95%;
        }
        .intro-container {
            width: 100%;
        }
    }

    @media (max-width: 1124px) {
        .services-box {
            width: 100%;
            padding: 1rem 1.5rem 2.5rem;
            margin-bottom: 1rem;
        }
        .service-see-more-btn {
            width: 60%;
        }
    }

    @media (max-width: 768px) {
        .services-box {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }


/*  === OFFERS === */
    #offers-section {
        background-color: #DAF4D8;
    }

    .offers-box {
        text-align: center;
        width: 80%;
    }

    .offers-box h1 {
        font-size: 1.4rem;
    }

    #offers-section .row:nth-of-type(2) > .col-2:first-of-type > .offers-box {
        margin-right: 0;
        margin-left: auto;
    }

    #offers-section .row:nth-of-type(2) > .col-2:nth-of-type(2) > .offers-box {
        margin-right: auto;
        margin-left: auto;
    }

    #offers-section .row:nth-of-type(2) > .col-2:last-of-type > .offers-box {
        margin-right: auto;
        margin-left: 0;
    }

    .offers-icon {
        width: 120px;
        height: 120px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
    }

    #prices-icon{
        background: #2C6626 url(../img/offers-sprite.png) left 0 top 0;
    }

    #delivery-icon {
        background: #2C6626 url(../img/offers-sprite.png) left -120px top 0;
    }

    #designe-icon {
        background: #2C6626 url(../img/offers-sprite.png) left -240px top 0;
    }

    @media (max-width: 768px) {
        #offers-section .row:nth-of-type(2) > .col-2 > .offers-box {
            margin-right: auto !important;
            margin-left: auto !important;
        } 
    }

    @media (max-width: 480px) {
        .offers-box {
            width: 100%;
        }
    }

/*  === ABOUT US === */

    #about-us-section {
        text-align: justify;
    }

    #about-us-logo-vertical {
        display: block;
        height: 500px;
        margin-left: auto;
        margin-right: auto;
    }

/*  === FOOTER === */
    
    #footer-img {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
    }

    #footer-text {
        position: relative;
        top: 50px;
        left: 0;
    }

    #footer-text div {
        margin-bottom: 1rem;
    }

    #footer-text p {
        margin: .2rem;
    }

    #footer-text div:first-of-type > p:first-of-type {
        font-weight: bold;
        color: #083204;
    }

    #footer-text a:link {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    #footer-text a:visited {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    #footer-text a:active {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    #footer-text a:hover {
        text-decoration: underline;
        color: #083204;
        font-weight: bold;
    }

/*  === SERVICES HTML === */

    .flex-container {
        display: flex;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        align-items: center;
    }

    .flex-container > .intro-container {
        width: 100%;
        margin-bottom: 3rem;
    }

    .services-card {
        background-color: #2C6626;
        color: white;
        flex-basis: 30%;
        padding: 2rem;
        text-align: center;
        min-height: 500px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .services-card h1 {
        margin-top: 1rem;
        margin-bottom: .5rem;
    }

    .services-card ul {
        margin-top: 3rem;
        margin-bottom: 2rem;
        padding: 0;
        text-align: left;
    }

    .services-card ul li {
        list-style-position: inside;
        margin-bottom: .2rem;
    }

    .services-card-highlighted {
        flex-basis: 33%;
        min-height: 650px;
        box-shadow: 0 0 20px 0 #083204;
    }

    .btn-services-select {
        width: 60%;
        padding: .6rem;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    @media (max-width: 1366px) {
        .flex-container {
            width: 90%;
        }
    }

    @media (max-width: 1024px) {
        .flex-container {justify-content: space-around;}

        .flex-container > .intro-container {
            margin-right: 1rem;
            margin-left: 1rem;
        }
    }

    @media (max-width: 950px) {
        .services-card {
            padding-right: 1rem;
            padding-left: 1rem;
        }

        .flex-container {align-items: stretch;}

        .services-card {min-height: initial;}

        .services-card ul {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .services-card h1 {margin-top: 0;}

        .btn-services-select {margin-bottom: 0;}
    }

    @media (max-width: 750px) {
        .flex-container {
            flex-direction: column;
        }

        .flex-container > .intro-container {
            margin-right: 0;
            margin-left: 0;
        }

        .services-card {
            width: 90%;
            margin: 1rem auto;
        }
    }

/*  === GRID-SYSTEM === */

    .container {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .row::after {
        content: "";
        clear: both;
        display: block;
    }

    [class*="col-"] {
        float: left;
        min-height: 1px;
        padding: .8rem;
    }

    .col-1 {width: 16.666%; }
    .col-2 {width: 33.333%; }
    .col-3 {width: 50%;     }
    .col-4 {width: 66.666%; }
    .col-5 {width: 83.333%; }    
    .col-6 {width: 100%;    }

    @media (max-width: 1024px) {
        .col-1 {width: 33.333%;}
    }

    @media (max-width: 768px) {
        .col-1 {width: 50%; }
        .col-2 {width: 100%;}
        .col-3 {width: 100%;}
        .col-4 {width: 100%;}
    }

    @media (max-width: 480px) {
        .col-1 {width: 100%;}
        .col-2 {width: 100%;}
        .col-3 {width: 100%;}
        .col-4 {width: 100%;}
    }